[submodule "Include/cmajor"]
	path = Include/cmajor
	url = https://github.com/SoundStacks/cmajor
[submodule "Include/GuitarLSTM"]
	path = Include/GuitarLSTM
	url = https://github.com/hazza-music/GuitarLSTM
[submodule "Include/RTNeural"]
	path = Include/RTNeural
	url = https://github.com/jatinchowdhury18/RTNeural.git
